PORT=9000
WALLET_NAME=default # Name of your wallet
HOTKEY_NAME=default # Name of your hotkey
SUBNET_API_URL=https://subnet.talkhead.ai

CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_PUBLIC_BASE_URL=